<!--
    Very basic html script to give live webcam feed and allow user to use arrow keys to control the car
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Raspi Car</title>
    <style>
        html, body { height:100%; margin:0; }
        body{
            display:flex;
            flex-direction: column;
            align-items: center;
            font-family: sans-serif;
        }
        img{
            width: 60%;
            height: auto;
            display: block;
        }
    </style>
</head>
<body>

    <h1>Control Panel</h1>
    <img src="{{url_for('video_feed')}}" width="400">
    <script>
        window.addEventListener('keydown', function(e){
            if (['ArrowUp','ArrowDown','ArrowLeft','ArrowRight',' ','w','a','d'].includes(e.key)){
                e.preventDefault();
                if(e.key=='ArrowUp') fetch('/forward_arrow');
                if(e.key=='ArrowDown') fetch('/backward_arrow');
                if(e.key=='ArrowLeft') fetch('/left_arrow');
                if(e.key=='ArrowRight') fetch('/right_arrow');
                if(e.key==' ') fetch('/stop');
                if(e.key=='w') fetch('/w');
                if(e.key=='a') fetch('/a');
                if(e.key=='d') fetch('/d');
                if(e.key=='s') fetch('/s');
            }
        });
    </script>

</body>
</html> 